<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrabajoLabel" jhiTranslate="frApp.trabajo.home.createOrEditLabel">Create or edit a Trabajo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!trabajo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="trabajo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.trabajo.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="trabajo.descripcion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.trabajo.costo" for="field_costo">Costo</label>
            <input type="number" class="form-control" name="costo" id="field_costo"
                [(ngModel)]="trabajo.costo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.trabajo.usaMedidor" for="field_usaMedidor">Usa Medidor</label>
            <input type="checkbox" class="form-control" name="usaMedidor" id="field_usaMedidor"
                [(ngModel)]="trabajo.usaMedidor" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.trabajo.usaCable" for="field_usaCable">Usa Cable</label>
            <input type="checkbox" class="form-control" name="usaCable" id="field_usaCable"
                [(ngModel)]="trabajo.usaCable" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
