
<div *ngIf="trabajo">
    <h2><span jhiTranslate="frApp.trabajo.detail.title">Trabajo</span> {{trabajo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="frApp.trabajo.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{trabajo.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.trabajo.costo">Costo</span></dt>
        <dd>
            <span>{{trabajo.costo}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.trabajo.usaMedidor">Usa Medidor</span></dt>
        <dd>
            <span>{{trabajo.usaMedidor}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.trabajo.usaCable">Usa Cable</span></dt>
        <dd>
            <span>{{trabajo.usaCable}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.trabajo.costoTrif">Costo Trif</span></dt>
        <dd>
            <span>{{trabajo.costoTrif}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trabajo-my-suffix/'+ trabajo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
