<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEtapaLabel" jhiTranslate="frApp.etapa.home.createOrEditLabel">Create or edit a Etapa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!etapa.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="etapa.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.etapa.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="etapa.numero" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.etapa.descripcionCorta" for="field_descripcionCorta">Descripcion Corta</label>
            <input type="text" class="form-control" name="descripcionCorta" id="field_descripcionCorta"
                [(ngModel)]="etapa.descripcionCorta" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.etapa.descripcionLarga" for="field_descripcionLarga">Descripcion Larga</label>
            <input type="text" class="form-control" name="descripcionLarga" id="field_descripcionLarga"
                [(ngModel)]="etapa.descripcionLarga" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
