<div>
    <h2>
        <span jhiTranslate="frApp.precinto.home.title">Precintos</span>
        <button class="btn btn-primary float-right jh-create-entity create-precinto" [routerLink]="['/', { outlets: { popup: ['precinto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Registrar precintos masivamente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="precintos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frApp.precinto.numero">Numero</span></th>
            <th><span jhiTranslate="frApp.precinto.color">Color</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let precinto of precintos ;trackBy: trackId">
                <td><a [routerLink]="['../precinto', precinto.id ]">{{precinto.id}}</a></td>
                <td>{{precinto.numero}}</td>
                <td>{{precinto.color}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../precinto', precinto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precinto/'+ precinto.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precinto/'+ precinto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
