
<div *ngIf="tipoInmueble">
    <h2><span jhiTranslate="frApp.tipoInmueble.detail.title">Tipo Inmueble</span> {{tipoInmueble.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="frApp.tipoInmueble.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{tipoInmueble.descripcion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipo-inmueble-my-suffix/'+ tipoInmueble.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
