

<!--<p-dropdown [options]="etapas" [(ngModel)]="etapaSeleccionada" (onChange)="cambioEtapa()"></p-dropdown>-->

<div class="row">

<p-accordion class="col-md-12 col-sm-12">
    <p-accordionTab header="Gráfico anomalías por etapa">
        <div><p-chart type="bar" [data]="anomalias" [options]="anomaliasOpt"></p-chart></div>  
    </p-accordionTab>
    <p-accordionTab header="Gráfico trabajos por etapa">
        <div class="col-md-12 col-sm-12"><p-chart type="bar" [data]="trabajos" [options]="trabajosOpt"></p-chart></div>
    </p-accordionTab>
    <p-accordionTab header="Gráfico inspecciones por fecha">
        <div class="col-md-12 col-sm-12"><p-chart type="bar" [data]="porfecha" [options]="porfechaOpt"></p-chart></div>
    </p-accordionTab>
    <p-accordionTab header="Grillas trabajos y materiales">
        <div class="row">
        <div class="col-xs-12 col-sm-4">Etapa<p-dropdown [options]="etapasConTodas" [(ngModel)]="etapaSeleccionada" (onChange)="etapaChange()"></p-dropdown></div>
        <div class="col-xs-12 col-sm-4">Desde<p-calendar [locale]="es" dateFormat="dd/mm/yy" [(ngModel)]="desde" (onSelect)="etapaChange()"></p-calendar></div>
        <div class="col-xs-12 col-sm-4">Hasta<p-calendar [locale]="es" dateFormat="dd/mm/yy" [(ngModel)]="hasta" (onSelect)="etapaChange()"></p-calendar></div>
        </div>
     
        <p-table [value]="trabajosPorFecha">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Trabajo</th>
                        <th>Cantidad</th>
                        <th>Monto</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trab>
                    <tr>
                        <td>{{trab[0]}}</td>
                        <td>{{trab[1]}}</td>
                        <td>${{trab[2]}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-table class="col-md-6 col-sm-12" [value]="materialesPorFecha">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Código</th>
                        <th>Material</th>
                        <th>Cantidad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trab>
                    <tr>
                        <td>{{trab[0]}}</td>
                        <td>{{trab[1]}}</td>
                        <td>{{trab[2]}}</td>
                    </tr>
                </ng-template>
            </p-table>
    </p-accordionTab>

</p-accordion>



</div>



