<div>
    <jhi-alert></jhi-alert>
    
    <h4>
        <span>Inspecciones</span>
        <button class="btn btn-primary float-right jh-create-entity create-inspeccion-my-suffix" [routerLink]="['/', { outlets: { popup: ['inspeccion-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span *jhiHasAnyAuthority="'ROLE_USER'">Excepcional
            </span>
            <span *jhiHasAnyAuthority="'ROLE_ADMIN'">Nueva
            </span>
        </button>
    </h4>
    <!--
    <button pButton type="button" label="Prueba servicio" (click)="prueba()"></button>
    <br/><br/>
    <button pButton type="button" label="Prueba imprimir" (click)="print()"></button>
    <br/><br/>
    -->
    <table cellpadding="5"><tr><td>Etapa</td>
        <td *jhiHasAnyAuthority="'ROLE_USER'"><p-dropdown  [options]="etapas" [(ngModel)]="etapaSeleccionada" (onChange)="cambioEtapa()"></p-dropdown></td> 
        <!--disabled="true"-->
        <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><p-dropdown [options]="etapas" [(ngModel)]="etapaSeleccionada" (onChange)="cambioEtapa()"></p-dropdown></td>
    </tr>
    <tr><td>Finalizadas</td>
        <td><p-inputSwitch [(ngModel)]="ocultarFinalizadas" onLabel="Ocultar" offLabel="Mostrar" ></p-inputSwitch></td>
    </tr>
    </table>

    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inspeccions" id="printJS-form">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="inmueble.calle,inmueble.altura"><span jhiTranslate="frApp.inspeccion.inmueble">Inmueble</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estado.descripcion"><span jhiTranslate="frApp.inspeccion.estado">Estado</span> <span class="fa fa-sort"></span></th>
			<th jhiSortBy="fechahora"><span>Fecha</span> <span class="fa fa-sort"></span></th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inspeccion of getInspeccionesMostradas() ;trackBy: trackId" [routerLink]="['/', { outlets: { popup: 'inspeccion-my-suffix/'+ inspeccion.id + '/edit'} }]">
                <td>
                    <div *ngIf="inspeccion.inmueble">
                        {{inspeccion.inmueble?.calle}} {{inspeccion.inmueble?.altura}}
                            {{inspeccion.inmueble?.piso}} {{inspeccion.inmueble?.depto}} {{inspeccion.inmueble?.anexo}}                    
                    </div>
                </td>
                <td>
                    <div *ngIf="inspeccion.estado">
                        {{inspeccion.estado?.descripcion}}
                    </div>
                </td>
                <td>{{inspeccion.fechahora | date:'short'}}</td>

            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="inspeccions && inspeccions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
