
<div *ngIf="inspeccion">
    <h2><span jhiTranslate="frApp.inspeccion.detail.title">Inspeccion</span> {{inspeccion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="frApp.inspeccion.orden">Orden</span></dt>
        <dd>
            <span>{{inspeccion.orden}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.observaciones">Observaciones</span></dt>
        <dd>
            <span>{{inspeccion.observaciones}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.deshabitada">Deshabitada</span></dt>
        <dd>
            <span>{{inspeccion.deshabitada}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.usuario">Usuario</span></dt>
        <dd>
            <span>{{inspeccion.usuario}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.fechahora">Fechahora</span></dt>
        <dd>
            <span>{{inspeccion.fechahora | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.medidorInstalado">Medidor Instalado</span></dt>
        <dd>
            <span>{{inspeccion.medidorInstalado}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.ultimaLectura">Ultima Lectura</span></dt>
        <dd>
            <span>{{inspeccion.ultimaLectura}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.medidorRetirado">Medidor Retirado</span></dt>
        <dd>
            <span>{{inspeccion.medidorRetirado}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.socio">Socio</span></dt>
        <dd>
            <span>{{inspeccion.socio}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.suministro">Suministro</span></dt>
        <dd>
            <span>{{inspeccion.suministro}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.nombre">Nombre</span></dt>
        <dd>
            <span>{{inspeccion.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.tarifa">Tarifa</span></dt>
        <dd>
            <span>{{inspeccion.tarifa}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.mtsCable">Mts Cable</span></dt>
        <dd>
            <span>{{inspeccion.mtsCable}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.lecturaNuevo">Lectura Nuevo</span></dt>
        <dd>
            <span>{{inspeccion.lecturaNuevo}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.foto">Foto</span></dt>
        <dd>
            <div *ngIf="inspeccion.foto">
                <a (click)="openFile(inspeccion.fotoContentType, inspeccion.foto)">
                    <img [src]="'data:' + inspeccion.fotoContentType + ';base64,' + inspeccion.foto" style="max-width: 100%;" alt="inspeccion image"/>
                </a>
                {{inspeccion.fotoContentType}}, {{byteSize(inspeccion.foto)}}
            </div>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.estadoGLM">Estado GLM</span></dt>
        <dd>
            <span>{{inspeccion.estadoGLM}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.lecturaActual">Lectura Actual</span></dt>
        <dd>
            <span>{{inspeccion.lecturaActual}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.fechaToma">Fecha Toma</span></dt>
        <dd>
            <span>{{inspeccion.fechaToma | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.medidorNuevoLibre">Medidor Nuevo Libre</span></dt>
        <dd>
            <span>{{inspeccion.medidorNuevoLibre}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.anomaliaMedidor">Anomalia Medidor</span></dt>
        <dd>
            <span *ngFor="let anomaliaMedidor of inspeccion.anomaliaMedidors; let last = last">
                <a [routerLink]="['/anomalia-my-suffix', anomaliaMedidor?.id ]">{{anomaliaMedidor.descripcion}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.trabajo">Trabajo</span></dt>
        <dd>
            <span *ngFor="let trabajo of inspeccion.trabajos; let last = last">
                <a [routerLink]="['/trabajo-my-suffix', trabajo?.id ]">{{trabajo.descripcion}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.inmueble">Inmueble</span></dt>
        <dd>
            <div *ngIf="inspeccion.inmueble">
                <a [routerLink]="['/inmueble-my-suffix', inspeccion.inmueble?.id]">{{inspeccion.inmueble?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.etapa">Etapa</span></dt>
        <dd>
            <div *ngIf="inspeccion.etapa">
                <a [routerLink]="['/etapa-my-suffix', inspeccion.etapa?.id]">{{inspeccion.etapa?.numero}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.estado">Estado</span></dt>
        <dd>
            <div *ngIf="inspeccion.estado">
                <a [routerLink]="['/estado-my-suffix', inspeccion.estado?.id]">{{inspeccion.estado?.descripcion}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.tipoInmueble">Tipo Inmueble</span></dt>
        <dd>
            <div *ngIf="inspeccion.tipoInmueble">
                <a [routerLink]="['/tipo-inmueble-my-suffix', inspeccion.tipoInmueble?.id]">{{inspeccion.tipoInmueble?.descripcion}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="frApp.inspeccion.medidorNuevo">Medidor Nuevo</span></dt>
        <dd>
            <div *ngIf="inspeccion.medidorNuevo">
                <a [routerLink]="['/medidor', inspeccion.medidorNuevo?.id]">{{inspeccion.medidorNuevo?.numero}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'inspeccion-my-suffix/'+ inspeccion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
