<div>
    <h2>
        <span jhiTranslate="frApp.inspeccion.home.title">Inspeccions</span>
        <button class="btn btn-primary float-right jh-create-entity create-inspeccion-my-suffix" [routerLink]="['/', { outlets: { popup: ['inspeccion-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="frApp.inspeccion.home.createLabel">
            Create new Inspeccion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inspeccions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orden"><span jhiTranslate="frApp.inspeccion.orden">Orden</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observaciones"><span jhiTranslate="frApp.inspeccion.observaciones">Observaciones</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deshabitada"><span jhiTranslate="frApp.inspeccion.deshabitada">Deshabitada</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usuario"><span jhiTranslate="frApp.inspeccion.usuario">Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechahora"><span jhiTranslate="frApp.inspeccion.fechahora">Fechahora</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medidorInstalado"><span jhiTranslate="frApp.inspeccion.medidorInstalado">Medidor Instalado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ultimaLectura"><span jhiTranslate="frApp.inspeccion.ultimaLectura">Ultima Lectura</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medidorRetirado"><span jhiTranslate="frApp.inspeccion.medidorRetirado">Medidor Retirado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="socio"><span jhiTranslate="frApp.inspeccion.socio">Socio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="suministro"><span jhiTranslate="frApp.inspeccion.suministro">Suministro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="frApp.inspeccion.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tarifa"><span jhiTranslate="frApp.inspeccion.tarifa">Tarifa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mtsCable"><span jhiTranslate="frApp.inspeccion.mtsCable">Mts Cable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lecturaNuevo"><span jhiTranslate="frApp.inspeccion.lecturaNuevo">Lectura Nuevo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="foto"><span jhiTranslate="frApp.inspeccion.foto">Foto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoGLM"><span jhiTranslate="frApp.inspeccion.estadoGLM">Estado GLM</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lecturaActual"><span jhiTranslate="frApp.inspeccion.lecturaActual">Lectura Actual</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaToma"><span jhiTranslate="frApp.inspeccion.fechaToma">Fecha Toma</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medidorNuevoLibre"><span jhiTranslate="frApp.inspeccion.medidorNuevoLibre">Medidor Nuevo Libre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inmueble.id"><span jhiTranslate="frApp.inspeccion.inmueble">Inmueble</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="etapa.numero"><span jhiTranslate="frApp.inspeccion.etapa">Etapa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estado.descripcion"><span jhiTranslate="frApp.inspeccion.estado">Estado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoInmueble.descripcion"><span jhiTranslate="frApp.inspeccion.tipoInmueble">Tipo Inmueble</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medidorNuevo.numero"><span jhiTranslate="frApp.inspeccion.medidorNuevo">Medidor Nuevo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inspeccion of inspeccions ;trackBy: trackId">
                <td><a [routerLink]="['../inspeccion-my-suffix', inspeccion.id ]">{{inspeccion.id}}</a></td>
                <td>{{inspeccion.orden}}</td>
                <td>{{inspeccion.observaciones}}</td>
                <td>{{inspeccion.deshabitada}}</td>
                <td>{{inspeccion.usuario}}</td>
                <td>{{inspeccion.fechahora | date:'medium'}}</td>
                <td>{{inspeccion.medidorInstalado}}</td>
                <td>{{inspeccion.ultimaLectura}}</td>
                <td>{{inspeccion.medidorRetirado}}</td>
                <td>{{inspeccion.socio}}</td>
                <td>{{inspeccion.suministro}}</td>
                <td>{{inspeccion.nombre}}</td>
                <td>{{inspeccion.tarifa}}</td>
                <td>{{inspeccion.mtsCable}}</td>
                <td>{{inspeccion.lecturaNuevo}}</td>
                <td>
                    <a *ngIf="inspeccion.foto" (click)="openFile(inspeccion.fotoContentType, inspeccion.foto)">
                        <img [src]="'data:' + inspeccion.fotoContentType + ';base64,' + inspeccion.foto" style="max-height: 30px;" alt="inspeccion image"/>
                    </a>
                    <span *ngIf="inspeccion.foto">{{inspeccion.fotoContentType}}, {{byteSize(inspeccion.foto)}}</span>
                </td>
                <td>{{inspeccion.estadoGLM}}</td>
                <td>{{inspeccion.lecturaActual}}</td>
                <td>{{inspeccion.fechaToma | date:'mediumDate'}}</td>
                <td>{{inspeccion.medidorNuevoLibre}}</td>
                <td>
                    <div *ngIf="inspeccion.inmueble">
                        <a [routerLink]="['../inmueble-my-suffix', inspeccion.inmueble?.id ]" >{{inspeccion.inmueble?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inspeccion.etapa">
                        <a [routerLink]="['../etapa-my-suffix', inspeccion.etapa?.id ]" >{{inspeccion.etapa?.numero}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inspeccion.estado">
                        <a [routerLink]="['../estado-my-suffix', inspeccion.estado?.id ]" >{{inspeccion.estado?.descripcion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inspeccion.tipoInmueble">
                        <a [routerLink]="['../tipo-inmueble-my-suffix', inspeccion.tipoInmueble?.id ]" >{{inspeccion.tipoInmueble?.descripcion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inspeccion.medidorNuevo">
                        <a [routerLink]="['../medidor', inspeccion.medidorNuevo?.id ]" >{{inspeccion.medidorNuevo?.numero}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../inspeccion-my-suffix', inspeccion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inspeccion-my-suffix/'+ inspeccion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inspeccion-my-suffix/'+ inspeccion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="inspeccions && inspeccions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
