<div>
    <h2>
        <span jhiTranslate="frApp.insumo.home.title">Insumos</span>
        <button class="btn btn-primary float-right jh-create-entity create-insumo" [routerLink]="['/', { outlets: { popup: ['insumo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="frApp.insumo.home.createLabel">
            Create new Insumo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="insumos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frApp.insumo.cantidad">Cantidad</span></th>
            <th><span jhiTranslate="frApp.insumo.esEditable">Es Editable</span></th>
            <th><span jhiTranslate="frApp.insumo.trabajo">Trabajo</span></th>
            <th><span jhiTranslate="frApp.insumo.material">Material</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insumo of insumos ;trackBy: trackId">
                <td><a [routerLink]="['../insumo', insumo.id ]">{{insumo.id}}</a></td>
                <td>{{insumo.cantidad}}</td>
                <td>{{insumo.esEditable}}</td>
                <td>
                    <div *ngIf="insumo.trabajo">
                        <a [routerLink]="['../trabajo-my-suffix', insumo.trabajo?.id ]" >{{insumo.trabajo?.descripcion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="insumo.material">
                        <a [routerLink]="['../material-my-suffix', insumo.material?.id ]" >{{insumo.material?.descripcion}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../insumo', insumo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'insumo/'+ insumo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'insumo/'+ insumo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
