<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInsumoLabel" jhiTranslate="frApp.insumo.home.createOrEditLabel">Create or edit a Insumo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!insumo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="insumo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.insumo.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                [(ngModel)]="insumo.cantidad" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.insumo.esEditable" for="field_esEditable">Es Editable</label>
            <input type="checkbox" class="form-control" name="esEditable" id="field_esEditable"
                [(ngModel)]="insumo.esEditable" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.insumo.trabajo" for="field_trabajo">Trabajo</label>
            <select class="form-control" id="field_trabajo" name="trabajo" [(ngModel)]="insumo.trabajo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="trabajoOption.id === insumo.trabajo?.id ? insumo.trabajo : trabajoOption" *ngFor="let trabajoOption of trabajos; trackBy: trackTrabajoById">{{trabajoOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="frApp.insumo.material" for="field_material">Material</label>
            <select class="form-control" id="field_material" name="material" [(ngModel)]="insumo.material" >
                <option [ngValue]="null"></option>
                <option [ngValue]="materialOption.id === insumo.material?.id ? insumo.material : materialOption" *ngFor="let materialOption of materials; trackBy: trackMaterialById">{{materialOption.descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
