<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <h1 class="display-4">Sistema Fraudes</h1>
        <p class="lead">Usina Popular Cooperativa de Necochea "Sebastián de María"</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Conectado como "{{account.login}}". </span>                
            </div>
            <div *ngSwitchCase="true">
                <p-button label="Cargar inspecciones" (onClick)="inspecciones()"></p-button>                            
                <br/><br/>
            </div>
            <div class="alert alert-warning">Para
                <a class="alert-link" (click)="login()">iniciar una sesión</a>
                <span> puede utilizar las cuentas de prueba:<br/>- Administrador (nombre "admin", clave "admin") <br/>- Usuario (nombre "user", clave "user").</span>
            </div>

        </div>

    </div>
</div>

