<div>
    <h2>
        <span jhiTranslate="frApp.inmueble.home.title">Inmuebles</span>
        <button class="btn btn-primary float-right jh-create-entity create-inmueble-my-suffix" [routerLink]="['/', { outlets: { popup: ['inmueble-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="frApp.inmueble.home.createLabel">
            Create new Inmueble
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="inmuebles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="frApp.inmueble.calle">Calle</span></th>
            <th><span jhiTranslate="frApp.inmueble.altura">Altura</span></th>
            <th><span jhiTranslate="frApp.inmueble.piso">Piso</span></th>
            <th><span jhiTranslate="frApp.inmueble.depto">Depto</span></th>
            <th><span jhiTranslate="frApp.inmueble.anexo">Anexo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inmueble of inmuebles ;trackBy: trackId">
                <td><a [routerLink]="['../inmueble-my-suffix', inmueble.id ]">{{inmueble.id}}</a></td>
                <td>{{inmueble.calle}}</td>
                <td>{{inmueble.altura}}</td>
                <td>{{inmueble.piso}}</td>
                <td>{{inmueble.depto}}</td>
                <td>{{inmueble.anexo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../inmueble-my-suffix', inmueble.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inmueble-my-suffix/'+ inmueble.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'inmueble-my-suffix/'+ inmueble.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
