
<div *ngIf="inmueble">
    <h2><span jhiTranslate="frApp.inmueble.detail.title">Inmueble</span> {{inmueble.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="frApp.inmueble.calle">Calle</span></dt>
        <dd>
            <span>{{inmueble.calle}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inmueble.altura">Altura</span></dt>
        <dd>
            <span>{{inmueble.altura}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inmueble.piso">Piso</span></dt>
        <dd>
            <span>{{inmueble.piso}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inmueble.depto">Depto</span></dt>
        <dd>
            <span>{{inmueble.depto}}</span>
        </dd>
        <dt><span jhiTranslate="frApp.inmueble.anexo">Anexo</span></dt>
        <dd>
            <span>{{inmueble.anexo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'inmueble-my-suffix/'+ inmueble.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
